.navbar {
  background-color: $brand-dark;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;

  &Link {
    color: $white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    margin: 10px;
    font-weight: bold;
  }
}
