$brand-primary:                     #3ea99f;
$brand-dark:                        #242834;

$black:                             #000000;
$white:                             #ffffff;
$base-grey-2:                       #f4f7fa;
$base-grey-5:                       #f3f4f5;
$base-grey-10:                      #e4e7ea;
$base-grey-15:                      #dbdee1;
$base-grey-20:                      #d0d3d7;
$base-grey-25:                      #c7cacd;
$base-grey-40:                      #a9acb0;
$base-grey-60:                      #7e7e7e;
$base-grey-80:                      #5a5e62;
$base-grey:                         #33373b;
$base-grey-110:                     #313131;
